<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">
      <context:annotation-config />

      <bean class="it.our.league.app.impl.LeagueSummonerImpl" id="leagueSummonerImpl" />

      <bean class="it.our.league.app.impl.LeagueMatchImpl" id="leagueMatchImpl" />


      <bean class="it.our.league.common.RestAdapter" id="riotManager">
            <constructor-arg name="baseUrl" value="${riot.api.baseURL}" />
            <constructor-arg name="interfaceProxy" value="it.our.league.riot.RiotManagerInterface" />
            <constructor-arg name="operations">
                  <map>
                        <entry key="getAccountInfoBySummonerName">
                              <bean class="it.our.league.common.RestOperation">
                                    <property name="path" value="/lol/summoner/v4/summoners/by-name/{0}" />
                                    <property name="httpMethod" value="GET" />
                                    <property name="baseUrlRouting" value="euw1"/>
                              </bean>
                        </entry>
                        <entry key="getRankInfoByEncryptedSummonerId">
                              <bean class="it.our.league.common.RestOperation">
                                    <property name="path" value="/lol/league/v4/entries/by-summoner/{0}" />
                                    <property name="httpMethod" value="GET" />
                                    <property name="baseUrlRouting" value="euw1"/>
                              </bean>
                        </entry>
                        <entry key="getMatchIdsByPuuid">
                              <bean class="it.our.league.common.RestOperation">
                                    <property name="path" value="/lol/match/v5/matches/by-puuid/{0}/ids?type={1}&amp;count={2}&amp;startTime={3,number,#}" />
                                    <property name="httpMethod" value="GET" />
                                    <property name="baseUrlRouting" value="europe"/>
                              </bean>
                        </entry>
                        <entry key="getMatchById">
                              <bean class="it.our.league.common.RestOperation">
                                    <property name="path" value="/lol/match/v5/matches/{0}" />
                                    <property name="httpMethod" value="GET" />
                                    <property name="baseUrlRouting" value="europe"/>
                              </bean>
                        </entry>
                  </map>
            </constructor-arg>
            <constructor-arg name="defaultHeaders">
                  <map>
                        <entry key="${riot.api.auth.header.key}" value="${riot.api.token}" />
                  </map>
            </constructor-arg>
      </bean>

      <bean class="it.our.league.common.RestAdapter" id="ddragonApi">
            <constructor-arg name="baseUrl" value="${riot.ddragon.api.baseURL}" />
            <constructor-arg name="interfaceProxy" value="it.our.league.riot.IDdragon" />
            <constructor-arg name="operations">
                  <map>
                        <entry key="getProfileIcon">
                              <bean class="it.our.league.common.RestOperation">
                                    <property name="path" value="/cdn/12.3.1/img/profileicon/{0}.png" />
                                    <property name="httpMethod" value="GET" />
                              </bean>
                        </entry>
                  </map>
            </constructor-arg>
            <constructor-arg name="defaultHeaders">
                  <map>
                        <entry key="${riot.api.auth.header.key}" value="${riot.api.token}" />
                  </map>
            </constructor-arg>
      </bean>


      <bean class="java.util.HashMap" id="restAdapterUsers">
            <constructor-arg name="m">
                  <map>
                        <entry key="riotManager" value="leagueSummonerImpl" />
                        <entry key="ddragonApi" value="leagueSummonerImpl" />
                        <entry key="riotManager" value="leagueMatchImpl" />
                  </map>
            </constructor-arg>
      </bean>

</beans>